.SigninPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.SigninPage .btn-back{
  align-self: flex-start;
  margin: 10px 20px
}

.SigninPage .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(75, 75, 75, 0.391);
}

.SigninPage .login-form .hibrid-login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.SigninPage .login-form .hibrid-login-form h1{
  align-self: flex-start;
}

.SigninPage .login-form .hibrid-login-form .input-login{
  margin: 10px 0px;
  width: -webkit-fill-available;
}

.SigninPage .login-form .hibrid-login-form .input-login:active{
  border-color: black;
}

.SigninPage .login-form .hibrid-login-form .password{
  margin: 0px 0px 30px 0px;
}

.SigninPage .login-form .hibrid-login-form .user-enter-btn{
  align-self: normal;
}

.SigninPage .login-form .hibrid-login-form .new{
  margin-top: 60px;
}

.SigninPage .login-form .hibrid-login-form .new .navLink-signup{
  color: black;
  font-weight: 600;
  cursor: pointer;
}