.ErrorIndicator__div {
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ErrorIndicator__div .span-error {
  font-size: 4rem;
  font-weight: bolder;
  text-shadow: 2px 2px rgb(157, 0, 0);
}

.ErrorIndicator__div .description-error {
  text-align: center;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.461);
  text-shadow: 1px 1px rgb(157, 0, 0);
}
