.CategoriesView {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.CategoriesView .span-Category {
  margin-right: 20px;
  font-size: 30px;
  font-weight: 300;
}

.toggle-btn-CategoriesView {
  height: fit-content;
  background-color: white;
  margin: 30px 0px 0px 30px;
}

.toggle-btn-Category {
  height: 40px;
}


@media (max-width: 666px) {
  .CategoriesView .span-CategoriesView {
    margin: 0px auto 5px 5px;
    font-size: 15px;
  }
  .CategoriesView .toggle-btn-CategoriesView {
    background-color: white;
    font-size: 10px;
  }
}