.ItemInfoView .ItemInfoView-btn-back {
  margin: 20px 0px;
}

.ItemInfoView .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
}
.ItemInfoView .info .info-left {
  display: flex;
  flex-direction: column;
}

.ItemInfoView .info .info-left .imageUrl {
  height: 300px;
  width: 430px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  margin: 0px 30px 30px 0px;
}

.ItemInfoView .info .info-left .image {
  display: block;
  max-width: 90%;
  max-height: 90%;
}

.ItemInfoView .info .info-left .ItemInfoView__btn-add-to-cart {
  margin-right: 30px;
  margin-bottom: 30px;
}

.ItemInfoView .info .info-right {
  flex-grow: 1;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}

.ItemInfoView .info .info-right .title {
  font-size: 3rem;
  font-weight: 500;
}

.ItemInfoView .info .info-right .brand {
  font-size: 2rem;
  font-weight: 200;
  margin: 5px 30px;
}

.ItemInfoView .info .info-right .category {
  font-size: 1.2rem;
  font-weight: 200;
  margin: 5px 30px;
}

.ItemInfoView .info .info-right .price {
  font-size: 1.2rem;
  font-weight: 200;
  margin: 5px 30px;
}

.ItemInfoView .info .info-right .price .without-discount {
  text-decoration: line-through;
}

.ItemInfoView .info .info-right .price .with-discount {
  margin-right: 0.5em;
  font-size: 1.1em;
  font-weight: bold;
  color: brown;
  transition-duration: 0.3s;
}

.ItemInfoView .info .info-right .rating {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 200;
  margin: 5px 30px;
}

.ItemInfoView .info .info-right .stock {
  font-size: 1.2rem;
  font-weight: 200;
  margin: 5px 30px;
}

.ItemInfoView .info .info-right .description {
  margin-top: 60px;
  border-top: 2px solid black;
  font-size: 1rem;
  font-weight: 200;
}

.ItemInfoView .info .info-right .description p{
  font-size: 1.3rem;
  font-weight: 400;
}

@media (max-width: 900px) {
  .ItemInfoView .info .info-left .imageUrl {
    width: 300px;
  }

  .ItemInfoView .info .info-right .title {
    font-size: 2rem;
  }
  
  .ItemInfoView .info .info-right .brand {
    font-size: 1.5rem;
  }
}

@media (max-width: 670px) {
  .ItemInfoView .info .info-left .imageUrl {
    width: 90%;
    margin: 0px 0px 30px 20px;
  }

  .ItemInfoView .info .info-left .ItemInfoView__btn-add-to-cart{
    margin-bottom: 30px;
    margin-right: 0px;
  }

  .ItemInfoView .info {
    flex-direction: column;
  }

}
