.CartItemList{
  display: flex;
  flex-direction: column;
}

.CartItemList .CartItemList-btn-back{
  margin: 20px 0px 20px 40px;
}

.CartItemList .header {
  top: 0px;
  background-color: rgba(14, 84, 85, 0.684);
  color: rgb(255, 255, 255);
  z-index: 2;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 60px;
  border-radius: 5px;
}

.CartItemList .header .title{
  font-size: 2.5rem;
  font-weight: 900;
  margin-left: 20px;
}

.CartItemList .header .sum {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 20px;
}
