.CartItemView {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 300px;
  margin: 20px 40px;
  border-radius: 20px;
}

.CartItemView.isDeleted{
  animation: disappearance 2s ease-in-out 0ms 1 normal forwards;
}

.CartItemView .imageUrl {
  width: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.CartItemView .info {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.CartItemView .info .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
  font-size: 2rem;
  font-weight: 400;
}

.CartItemView .info .info-btns {
  display: flex;
  align-items: center;
  margin: 15px 10px;
}

.CartItemView .info .info-btns .counter {
  font-size: 1.5rem;
}

.CartItemView .info .info-btns .counter .counter-btn {
  text-align: center;
  margin: 0px 10px;
}

.CartItemView .info .info-btns .result-price {
  font-size: 1.5rem;
  margin: 0px 70px 0px 30px;
}

@keyframes disappearance{
  0%{
    margin: 20px 40px;
    height: 300px;
  }
  100%{
    margin: 0px 40px;
    height: 0px;
  }
}

@media (max-width: 980px) {
  .CartItemView {
    flex-direction: row;
    height: 280px;
  }
  
  .CartItemView .imageUrl {
    width: 170px;
    margin: 10px;
  }
  
  .CartItemView .info .title {
    margin-left: 30px;
    font-size: 1.3rem;
  }
  
  .CartItemView .info .info-btns {
    margin: 15px 5px;
  }
  
  .CartItemView .info .info-btns .counter {
    font-size: 1rem;
  }
  
  .CartItemView .info .info-btns .counter .counter-btn {
    margin: 0px 5px;
  }
  
  .CartItemView .info .info-btns .result-price {
    font-size: 1rem;
    margin: 0px 15px 0px 10px;
  }
}

@media (max-width: 730px) {
  .CartItemView {
    flex-direction: column;
    height: 280px;
  }
  
  .CartItemView .imageUrl {
    justify-content: flex-start;
    height: 150px;
  }
}

@media (max-width: 550px) {
  .CartItemView {
    flex-direction: column;
    height: 280px;
  }

  .CartItemView .imageUrl {
    margin-left: 30px;
    height: 86px;
  }
  
  .CartItemView .info .title {
    margin-left: 30px;
    font-size: 1rem;
  }
  
  .CartItemView .info .info-btns {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 15px 5px;
  }

  .CartItemView .info .info-btns .btn-del-cart{
    font-size: 0.7em;
    margin-left: 18px;
  }
  
  .CartItemView .info .info-btns .counter {
    font-size: 0.7rem;
    margin: 0px;
  }
  
  .CartItemView .info .info-btns .counter .counter-btn {
    font-size: 0.7em;
    margin: 0px 5px;
    margin: 10px 0px;
  }
  
  .CartItemView .info .info-btns .result-price {
    font-size: 0.7rem;
    margin: 10px 0px 10px 20px;
  }
}